concurrent-log-handler
flask
flask-login
flask-sqlalchemy
flask-wtf
jinja2
lxml
marshmallow
marshmallow-sqlalchemy
oracledb
passlib[argon2]
psycopg
sqlalchemy
sqlparse
waitress
wtforms
wtforms-sqlalchemy
