nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

pre {
    font-size: 1rem;
}

[data-href]:hover > * {
    cursor: pointer;
    /* important to override stripped tables */
    background-color: var(--pico-primary-hover-background) !important;
}

.python-expression {
    font: monospace;
}

.python-expression span {
    margin-right: 1ch;
}

.python-expression span.key {
    color: var(--pico-muted-color);
}

.python-expression .literal {
    color: var(--pico-contrast);
}

.python-expression ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.admin-link {
    max-width: 20ch;
}

address {
    white-space: nowrap;
}
