<!doctype html>
<html translate="no">{% set title = 'Central Load Plan' %}
    <head>{% block head %}
        <title>{{ title }}</title>
        <meta name=google content=notranslate>
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='pico.orange.min.css') }}">
        <script src="{{ url_for('static', filename='site.js') }}"></script>
    {% endblock %}</head>
    <body>{% block body %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes-container">
                    <ul class="flashes">{% for category, message in messages %}
                        <li class="flash flash-{{ category }}">{{ message }}</li>
                    {% endfor %}</ul>
                </div>
            {% endif %}
        {% endwith %}
        <div id=main-container>
            <main class="container">
                <nav>
                    <ul>
                        <li><strong>{{ title }}</strong></li>
                    </ul>
                    <ul>
                        {% if current_user.is_authenticated %}
                            <li><a role="button" href="{{ url_for('user.logout') }}">Logout</a></li>
                            {% if current_user.is_admin %}
                                <li><a role="button" href="{{ url_for('admin.root') }}">Admin</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
                {% block main %}{% endblock main %}
            </main>
        </div>
    {% endblock body %}</body>
</html>
