{% extends "base.html" %}


{% from "render.html" import render_form2 %}
{% from "render.html" import render_pagination %}
{% from "render.html" import render_table %}


{% block main %}
    {% if model is defined %}
    <h3>{{ model.__name__ }} objects</h3>
    {% endif %}
    <div>
        <form method="GET">
            <h3>Sorting</h3>
            {{ render_form2(sort_form) }}
            <h3>Filter</h3>
            {{ render_form2(filter_form) }}
            <p>
                <a href="{{ url_for(request.endpoint) }}">Clear filter and sort</a>
            </p>
        </form>
    </div>
    {% if false %}
    <h3>SQL</h3>
    <pre class="value">{{ query }}</pre>
    {% endif %}
    <div class="pagination-container">
    {% set form_args = sort_form.request_args | combine(filter_form.request_args) %}
    {{ render_pagination(pagination, request.endpoint, **form_args) }}
    </div/>
    <table>
        <thead>
            <tr>{% for column in table.columns %}
                <th>{{ column.header }}</th>{% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if not pagination.items %}
                <tr><td colspan="{{ table.columns|length }}">No {% if model is defined %} {{ model.__name__ }}{% endif %} objects</td></tr>
            {% else %}
                {% for instance in pagination %}<tr{% if edit_endpoint is defined %} data-href="{{ url_for(edit_endpoint, id=instance.id) }}"{% endif %}>
                {% for column in table.columns %}<td>{{ column.valueof(instance) }}</td>{% endfor %}
            </tr>{% endfor %}
            {% endif %}
            {% if create_endpoint is defined %}
            <tr>
                <td colspan="{{ table.columns|length }}"><a href="{{ url_for(create_endpoint) }}">Create new</a></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="pagination-container">
    {{ render_pagination(pagination, request.endpoint, **form_args) }}
    </div>
{% endblock main %}
